header {
    background-color: #73BFBF;
    display: flex;
    margin: 0;
    padding: 25px 0 25px 0;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    display: grid;

}

main {
    background-color: white;

}

.title-main {
    display: flex;
    background-color: #FA6D35;
    align-items: center;
    justify-content: center;
}

.container-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #73BFBF;
    font-family: Arial;
    text-align: justify;
    font-weight: bolder;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #73BFBF;
    width: 400px;
    margin: 0 0 0 400px;
}


.about-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #73BFBF;
    width: 400px;
    margin: 0 300px 0 0;
}


.solutions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    margin: 50px 0 100px 0;

}

.solutions img {
    width: auto;
    height: auto;
}

.solutions-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    text-align: center;
    margin: 0 50px 0 50px;
}

.solutions-machines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    margin: 50px 0 100px 0;
}

.solutions-machines img {
    width: auto;
    height: auto;
}


.machines-item {
    display: flex;
    flex-direction: column;
    align-items: czenter;
    width: 400px;
    text-align: center;
    justify-content: center;
    margin: 0 50px 0 50px;
}

.container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
    margin-bottom: 100px;
    
}

button {
    height: 50px;
    width: 200px;
    background-color: #FA6D35;
    font-weight: bold;
}


h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}


p {

    font-size: 20px;
    padding: auto;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #FA6D35;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right: 2px;
    overflow: hidden;
    background-color: transparent;

}

li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}


footer {
    background-color: #FA6D35;
    text-align: center;
}