header {
    background-color: #73BFBF;
    display: flex;
    margin: 0;
    padding: 25px 0 25px 0;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    display: grid;
}

main {
    background-color: white;
}

.container-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #73BFBF;
    margin: 0;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #73BFBF;
    width: 400px;
    margin: 0 0 0 300px;
}

.about-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #73BFBF;
    width: 400px;
    margin: 0 300px 0 0;
}


.container-form {
    background-color: #73BFBF;
    margin: auto;
    padding: auto;
}

.container-solutions {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0 300px 0 300px;

}

.container-solutions img {
    width: 200px;
}

.solutions-delivery {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}

.solutions-plug {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
}


h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-right: 2px;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


footer {
    background-color: #FA6D35;
}
